<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear libro</title>
</head>
<body>
    <nav>
        <a href={% url "inicio" %}>inicio</a>
        <a href={% url "crear_libro" %}>Crear libro</a>
        <a href={% url "listado_de_libros" %}>Listado de libros</a>
    </nav>
    <h1> Formulario de creación </h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{formulario}}
        <input type="submit" value="Crear libro">

    </form>
</body>
</html>