<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>listado de libros</title>
</head>
<body>
    <nav>
        <a href={% url "inicio" %}>inicio</a>
        <a href={% url "crear_libro" %}>Crear libro</a>
        <a href={% url "listado_de_libros" %}>Listado de libros</a>
    </nav>
  
    <h1> Listado de libros </h1>

    <form action="">
        {{formulario}}
        <input type="submit" value="Buscar">
    </form>

    {% if libros %}
    <ul>
        {% for libro in libros %}
       <li>
        {{libro}}
       </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>no hay libros cargados.</p>
    {% endif %}
</body>
</html>